:root {
    --orange:#FF6900;
    --black:#1A1A1A;
    --green:#008000;
}

/* Generics */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    padding-top: 60px;
}

header {
    background-color: var(--orange);
    height: 60px;
    padding-top: 15px;
    width: 100%;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 0 5px 0 black;
}

img {
    height: 25px;
}

a,li {
    display: inline-block;
}

i{
    display: inline-block;
    height: 15px;
    width: 15px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: bold;
}

/* Utilis */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.txt-ctr {
    text-align: center;
}

.txt-rgt {
    text-align: right;
}

/* Flexbox utilis */
.flex {
    display: flex;
}

.fb-30 {
    flex-basis: 30%;
}

.fb-40 {
    flex-basis: 40%;
}

.sp-btw {
    justify-content: space-between;
}

.al-it {
    align-items: center;
}

