:root {
    --orange:#FF6900;
    --black:#1A1A1A;
    --green:#008000;
}

/* Generics */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

/* Utilis */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.flex{
    display: flex;
}