:root {
    --orange:#FF6900;
    --black:#1A1A1A;
    --green:#008000;
}

/* Generics Primary tag*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    padding-top: 60px;
}

section {
    margin-top: 50px;
}

/* Generics Other tag */
h2,h3 {
    font-size: 15px;
}

h3 {
    margin-bottom: 4px;
}

a,li {
    display: inline-block;
}

i{
    display: inline-block;
    height: 15px;
    width: 15px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: bold;
}

/* Utilis */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.p-rel {
    position: relative;
}

.txt-ctr {
    text-align: center;
}

.txt-rgt {
    text-align: right;
}

/* Flexbox utilis */
.flex {
    display: flex;
}

.fd-clm{
    flex-direction: column;
}

.fb-32 {
    flex-basis: 32%;
}

.fb-40 {
    flex-basis: 40%;
}

.sp-btw {
    justify-content: space-between;
}

.jt-ctr {
    justify-content: center;
}

.al-ctr {
    align-items: center;
}

/* Header */
header {
    background-color: var(--orange);
    height: 60px;
    padding-top: 15px;
    width: 100%;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    box-shadow: 0 0 5px 0 black;
}

header img {
    height: 25px;
}

.department a {
    margin-right: 4px;
}

/* Main */
main {
    font-size: 12px;
    margin-bottom: 50px;
}

main img {
    width: 100%;
    height: 560px;
    
} 

.like {
    width: 40px;
    height: 40px;
    background-color: white;
    position: absolute;
    top: 10px;
    right: 0;
    text-align: center;
    line-height: 40px;
    font-size: 30px;
    cursor: pointer;
}

.prz-fnl {
    color: red;
    font-weight: 900;
}

/* Etichette */
.cont-label {
    position: absolute;
    bottom: 40px;
    left: 0;
}

.label {
    color: white;
    line-height: 22px;
    font-weight: bold;
    padding: 0 10px;
    height: 22px;
    text-align: center;
    display: inline-block;
}

.label.discount {
    background-color: red;
}

.label.sosten {
    background-color: var(--green);
}

/* Hover */
.hov {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
}

article:hover .hov {
    display: inline-block;
}

.like:hover {
    color: red;
}

/* Footer */
footer {
    height: 100px;
    background-color: var(--black);
    padding: 20px 0;
    color: white;
}

footer .container {
    height: 60px;
}

.info-agency a {
    font-weight: lighter;
    font-size: 12px;
}

.find-us-on-link a{
    font-size: 19px;
    margin-left: 5px;
}

.find-us-on-link h3{
    font-size: 13px;
    margin-bottom: 7px;
}